test1.txt

# VSCODE SETUP
.vscode

# ARIFLOW
airflow/dags/_pycache_
airflow/logs/*
airflow/standalone_admin_password.txt
airflow/*

# FLASK_APP
project/flask_app/__pycache__
project/flask_app/app/__pycache__
project/flask_app/app/app.log
project/flask_app/app.log

# PROJECT
project/app/__pycache__
project/bronze
project/docker_volume
project/files_json
project/gold
project/scripts
project/silver
project/Dockerfile2
project/DockerfilePostgres
project/notes
project/notescopilot
project/prometheus.yaml
project/*/__pycache__
